#unitlogo{
    display: none;
}
#unitdata{
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
img#unitimage{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
    box-sizing: border-box;
}
.member{
    width: 30%;
	max-width: 110px;
}
.member > img:first-child{
	display: block;
	width: auto;
	max-height: 110px;
	margin-bottom: 4px;
}
