/* ===== BASE ===== */
body{
    position: relative;
    margin: 0;
    padding: 40px 0 0;
    font-family: "VL PGothic",sans-serif;
    background: #f1f1f1;
    min-width: 1330px;
    min-height: 100vh;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
@font-face{
    font-family: "VL PGothic";
    src: local("VL PGothic");
    src: url("../font/VL-PGothic-Regular.woff");
}

/* ===== HEADER ===== */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    width: 100vw;
    border-bottom: solid 3px skyblue;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
header > h1{
    display: inline-block;
    margin: 0;
    font-size: 23px;
    padding: 5px 10px 5px 25px;
    border: none;
}
header a:not(#share_buttons){
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 2s;
}
header a:not(#share_buttons):hover{
    color: rgb(0, 31, 131);
}
#headmenu{
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
}
#headmenu > a{
    display: inline-block;
    padding: 1px 8px;
    border: solid 1px lightgray;
    background: linear-gradient(white,whitesmoke);
    border-radius: 3px;
    transition: background-color 0.1s;
}
#headmenu > a:hover{
    background: linear-gradient(whitesmoke,white);
}
#headmenu > a:active{
    background: lightgray;
}
#share_buttons{
    position: fixed;
    top: 6px;
    right: 15px;
}

/* ===== FOOTER ===== */
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}
footer > #footerinner{
    border-top: dashed 1px rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 1.8em;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 10px;
}
#footerlinks > a{
    margin-right: 7px;
}

/* ===== MAIN ===== */
main{
    padding: 0 0 100px;
    max-width: 1300px;
    margin: 0 auto;
}

/* PAGETITLE */
#pagetitle{
    position: relative;
    width: 100%;
    height: 105px;
    margin-bottom: 10px;
    background: linear-gradient(white,whitesmoke);
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}
#pagetitle > img:first-child{
    width: 110px;
    height: 110px;
    position: relative;
    top: 0;
    left: calc(50vw - 650px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    float: left;
    background: white;
}
#pagetitle > h1{
    position: absolute;
    margin: 0;
    top: 15px;
    /*left: 173px;*/
    left: calc(50vw - 515px);
    font-size: 36px;
    border: none;
}
#pagetitle > p{
    position: absolute;
    margin: 0;
    top: 67px;
    left: calc(50vw - 515px);
    font-size: 18px;
    font-weight: bold;
}

/* BUTTON */
.button{
    position: relative;
    margin: 0 4px;
    text-decoration: none;
    color: black;
    padding: 5px 8px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.7);
    transition: background-color 0.2s;
    font-weight: bold;
}
.button:hover{
    background: ghostwhite;
}
.button:active{
    background: lightgray;
}
.il{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 5px;
}
.il > .subtext{
    font-size: 12px;
    color: gray;
    font-weight: normal;
}

.buttonbox{
    text-align: center;
}

/* HEADING */
main h1{
    font-size: 32px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dotted 3px rgba(0, 0, 0, 0.5);
}
main h2{
    font-size: 25px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dotted 2px rgba(0,0,0,0.5);
}
h3{
    font-size: 20px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dashed 1px rgba(0,0,0,0.5);
}
h4{
    font-size: 16px;
    margin: 0.5em 0;
}

/* TABLE */
table{
    margin: 10px;
}
th{
    background: rgb(20, 0, 12);
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}
td{
    padding: 2px 15px 2px 5px;
}
caption{
    font-size: 18px;
    padding: 0 0 5px;
    font-weight: bold;
}

/* LAYOUT */
#sidebar{
    float: right;
    width: 350px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: dashed 1px rgba(0,0,0,0.1);
}
#sidebar > *:first-child{
    margin-top: 0;
}
#mainbar{
    width: 930px;
}

hr{
    border: none;
    display: block;
    height: 2px;
    margin: 20px 10px;
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.4) 5%,rgba(0,0,0,0.4) 95%,rgba(0,0,0,0));
}

/* mastodon */
.mstdn{
    display:inline-block;
    background-color:#282c37;
    color:#d9e1e8 !important;
    text-decoration:none;
    padding:4px 10px 4px 30px;
    border-radius:4px;
    font-size:16px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2261.076954mm%22%20height%3D%2265.47831mm%22%20viewBox%3D%220%200%20216.4144%20232.00976%22%3E%3Cpath%20d%3D%22M211.80734%20139.0875c-3.18125%2016.36625-28.4925%2034.2775-57.5625%2037.74875-15.15875%201.80875-30.08375%203.47125-45.99875%202.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125%200%202.53375.15625%204.94625.46875%207.2025%203.38375%2025.68625%2025.47%2027.225%2046.39125%2027.9425%2021.11625.7225%2039.91875-5.20625%2039.91875-5.20625l.8675%2019.09s-14.77%207.93125-41.08125%209.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234%20213.82%201.40609%20165.31125.20859%20116.09125c-.365-14.61375-.14-28.39375-.14-39.91875%200-50.33%2032.97625-65.0825%2032.97625-65.0825C49.67234%203.45375%2078.20359.2425%20107.86484%200h.72875c29.66125.2425%2058.21125%203.45375%2074.8375%2011.09%200%200%2032.975%2014.7525%2032.975%2065.0825%200%200%20.41375%2037.13375-4.59875%2062.915%22%20fill%3D%22%233088d4%22%2F%3E%3Cpath%20d%3D%22M177.50984%2080.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025%200-17.4175%207.5075-17.4175%2022.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375%200-15.74%206.32875-15.74%2018.7975v59.15H38.90484V80.077c0-12.455%203.17125-22.3525%209.54125-29.675%206.56875-7.3225%2015.17125-11.07625%2025.85-11.07625%2012.355%200%2021.71125%204.74875%2027.8975%2014.2475l6.01375%2010.08125%206.015-10.08125c6.185-9.49875%2015.54125-14.2475%2027.8975-14.2475%2010.6775%200%2019.28%203.75375%2025.85%2011.07625%206.36875%207.3225%209.54%2017.22%209.54%2029.675%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
    background-size:16px;
    background-repeat:no-repeat;
    background-position:top 50% left 8px;
    transition:all 0.5s;

    vertical-align: top;
}
.mstdn:hover{
    background-color:#484c56;
}
/*.mstdn::before{
  content:"@";
}*/
.mstdn > span{
    color:#9baec8;
    font-size:12px;
    padding-left:3px;
}
.mstdn > span:before{
    content:"@";
}

/* ===== CONTENT TYPE ===== */
.notification{
    text-align: center;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}


.half{
    width: 47.4%;
}
.trisection{
    width: 31%;
}