/* ===== BASE ===== */
body{
    position: relative;
    margin: 0;
    padding: 40px 0 0;
    font-family: "VL PGothic",sans-serif;
    background: #f1f1f1;
    min-width: 1330px;
    min-height: 100vh;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
@font-face{
    font-family: "VL PGothic";
    src: local("VL PGothic");
    src: url("../font/VL-PGothic-Regular.woff");
}

/* ===== HEADER ===== */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    width: 100vw;
    border-bottom: solid 3px skyblue;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
header > h1{
    display: inline-block;
    margin: 0;
    font-size: 23px;
    padding: 5px 10px 5px 25px;
    border: none;
}
header a:not([class]){
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 2s;
}
header a:not([class]):hover{
    color: rgb(0, 31, 131);
}
#headmenu{
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
}
#headmenu > a{
    display: inline-block;
    padding: 1px 8px;
    border: solid 1px lightgray;
    background: linear-gradient(white,whitesmoke);
    border-radius: 3px;
    transition: background-color 0.1s;
}
#headmenu > a:hover{
    background: linear-gradient(whitesmoke,white);
}
#headmenu > a:active{
    background: lightgray;
}
#share_buttons{
    position: fixed;
    top: 6px;
    right: 15px;
    vertical-align: top;
}

/* ===== FOOTER ===== */
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}
footer > #footerinner{
    border-top: dashed 1px rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 1.8em;
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 10px;
}
#footerlinks > a{
    margin-right: 7px;
}

/* ===== MAIN ===== */
main{
    padding: 0 0 100px;
    max-width: 1300px;
    margin: 0 auto;
}

/* PAGETITLE */
#pagetitle{
    position: relative;
    width: 100%;
    height: 105px;
    margin-bottom: 10px;
    background: linear-gradient(white,whitesmoke);
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}
#pagetitle > img:first-child{
    width: 110px;
    height: 110px;
    position: relative;
    top: 0;
    left: calc(50vw - 650px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    float: left;
    background: white;
}
#pagetitle > h1{
    position: absolute;
    margin: 0;
    top: 15px;
    /*left: 173px;*/
    left: calc(50vw - 515px);
    font-size: 36px;
    border: none;
}
#pagetitle > p{
    position: absolute;
    margin: 0;
    top: 67px;
    left: calc(50vw - 515px);
    font-size: 18px;
    font-weight: bold;
}

/* BUTTON */
.button{
    position: relative;
    margin: 0 4px;
    text-decoration: none;
    color: black;
    padding: 5px 8px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.7);
    transition: background-color 0.2s;
    font-weight: bold;
}
.button:hover{
    background: ghostwhite;
}
.button:active{
    background: lightgray;
}
.il{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 5px;
}
.il > .subtext{
    font-size: 12px;
    color: gray;
    font-weight: normal;
}

.buttonbox{
    text-align: center;
}

/* HEADING */
main h1{
    font-size: 32px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dotted 3px rgba(0, 0, 0, 0.5);
}
main h2{
    font-size: 25px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dotted 2px rgba(0,0,0,0.5);
}
h3{
    font-size: 20px;
    padding: 1px 2px;
    margin: 0.6em 0 0.5em;
    border-bottom: dashed 1px rgba(0,0,0,0.5);
}
h4{
    font-size: 16px;
    margin: 0.5em 0;
}

/* TABLE */
table{
    margin: 10px;
}
th{
    background: rgb(20, 0, 12);
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}
td{
    padding: 2px 15px 2px 5px;
}
caption{
    font-size: 18px;
    padding: 0 0 5px;
    font-weight: bold;
}

/* LAYOUT */
#sidebar{
    float: right;
    width: 350px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: dashed 1px rgba(0,0,0,0.1);
}
#sidebar > *:first-child{
    margin-top: 0;
}
#mainbar{
    width: 930px;
}

hr{
    border: none;
    display: block;
    height: 2px;
    margin: 20px 10px;
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.4) 5%,rgba(0,0,0,0.4) 95%,rgba(0,0,0,0));
}

/* mastodon */
.mstdn{
    display:inline-block;
    background-color:#282c37;
    color:#d9e1e8 !important;
    text-decoration:none;
    padding:4px 10px 4px 30px;
    border-radius:4px;
    font-size:16px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2261.076954mm%22%20height%3D%2265.47831mm%22%20viewBox%3D%220%200%20216.4144%20232.00976%22%3E%3Cpath%20d%3D%22M211.80734%20139.0875c-3.18125%2016.36625-28.4925%2034.2775-57.5625%2037.74875-15.15875%201.80875-30.08375%203.47125-45.99875%202.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125%200%202.53375.15625%204.94625.46875%207.2025%203.38375%2025.68625%2025.47%2027.225%2046.39125%2027.9425%2021.11625.7225%2039.91875-5.20625%2039.91875-5.20625l.8675%2019.09s-14.77%207.93125-41.08125%209.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234%20213.82%201.40609%20165.31125.20859%20116.09125c-.365-14.61375-.14-28.39375-.14-39.91875%200-50.33%2032.97625-65.0825%2032.97625-65.0825C49.67234%203.45375%2078.20359.2425%20107.86484%200h.72875c29.66125.2425%2058.21125%203.45375%2074.8375%2011.09%200%200%2032.975%2014.7525%2032.975%2065.0825%200%200%20.41375%2037.13375-4.59875%2062.915%22%20fill%3D%22%233088d4%22%2F%3E%3Cpath%20d%3D%22M177.50984%2080.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025%200-17.4175%207.5075-17.4175%2022.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375%200-15.74%206.32875-15.74%2018.7975v59.15H38.90484V80.077c0-12.455%203.17125-22.3525%209.54125-29.675%206.56875-7.3225%2015.17125-11.07625%2025.85-11.07625%2012.355%200%2021.71125%204.74875%2027.8975%2014.2475l6.01375%2010.08125%206.015-10.08125c6.185-9.49875%2015.54125-14.2475%2027.8975-14.2475%2010.6775%200%2019.28%203.75375%2025.85%2011.07625%206.36875%207.3225%209.54%2017.22%209.54%2029.675%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
    background-size:16px;
    background-repeat:no-repeat;
    background-position:top 50% left 8px;
    transition:all 0.5s;

    vertical-align: top;
}
.mstdn:hover{
    background-color:#484c56;
}
/*.mstdn::before{
  content:"@";
}*/
.mstdn > span{
    color:#9baec8;
    font-size:12px;
    padding-left:3px;
}
.mstdn > span:before{
    content:"@";
}

/* misskey */
.misskey{
    display:inline-block;
    background-color:whitesmoke;
    color:black;
    text-decoration:none;
    padding:4px 10px 4px 30px;
    border-radius:4px;
    font-size:16px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22svg8%22%20version%3D%221.1%22%20viewBox%3D%220%200%20135.46667%20135.46667%22%20height%3D%22512%22%20width%3D%22512%22%3E%20%3Cdefs%20id%3D%22defs2%22%20%2F%3E%20%3Cmetadata%20id%3D%22metadata5%22%3E%20%3Crdf%3ARDF%3E%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%20%2F%3E%20%3Cdc%3Atitle%3E%3C%2Fdc%3Atitle%3E%20%3C%2Fcc%3AWork%3E%20%3C%2Frdf%3ARDF%3E%20%3C%2Fmetadata%3E%20%3Cg%20transform%3D%22translate(-30.809093%2C-111.78601)%22%20id%3D%22layer1%22%3E%20%3Cg%20transform%3D%22matrix(1.096096%2C0%2C0%2C1.096096%2C-2.960633%2C-44.023579)%22%20id%3D%22g4502%22%3E%20%3Cg%20id%3D%22g5125%22%20transform%3D%22translate(-1.3333333e-6%2C-1.3439941e-6)%22%20style%3D%22fill%3A%23000000%3Bfill-opacity%3A1%22%3E%20%3Cg%20aria-label%3D%22Mi%22%20style%3D%22font-style%3Anormal%3Bfont-variant%3Anormal%3Bfont-weight%3Anormal%3Bfont-stretch%3Anormal%3Bfont-size%3A141.03404236px%3Bline-height%3A476.69509888px%3Bfont-family%3A'OTADESIGN%20Rounded'%3B-inkscape-font-specification%3A'OTADESIGN%20Rounded'%3Bletter-spacing%3A0px%3Bword-spacing%3A0px%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bstroke%3Anone%3Bstroke-width%3A0.28950602px%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-opacity%3A1%22%20id%3D%22text4489%22%20transform%3D%22matrix(0.91391326%2C0%2C0%2C0.91391326%2C7.9719907%2C17.595761)%22%3E%20%3Cpath%20id%3D%22path5210%22%20transform%3D%22matrix(0.26412464%2C0%2C0%2C0.26412464%2C24.988264%2C136.28626)%22%20d%3D%22m%2062.474609%2C76.585938%20c%20-7.47555%2C0%20-14.595784%2C1.246427%20-21.359375%2C3.738281%20C%2029.011968%2C84.595952%2019.044417%2C92.249798%2011.212891%2C103.28516%203.7373405%2C113.96451%200%2C125.88934%200%2C139.06055%20v%20233.8789%20c%200%2C17.08697%206.0510264%2C31.85913%2018.154297%2C44.31836%2012.459246%2C12.10327%2027.233346%2C18.15625%2044.320312%2C18.15625%2017.442947%2C0%2032.215089%2C-6.05298%2044.318361%2C-18.15625%2012.45925%2C-12.45923%2018.68945%2C-27.23139%2018.68945%2C-44.31836%20V%20330.4082%20c%200.13441%2C-9.21122%209.6225%2C-6.79429%2014.41797%2C0%208.98111%2C15.55395%2028.02226%2C28.91242%2050.19141%2C28.83594%2022.16915%2C-0.0764%2040.58194%2C-11.03699%2050.19336%2C-28.83594%203.63981%2C-4.29263%2013.89902%2C-11.60675%2014.95117%2C0%20v%2042.53125%20c%200%2C17.08697%206.05102%2C31.85913%2018.15429%2C44.31836%2012.45923%2C12.10327%2027.23335%2C18.15625%2044.32032%2C18.15625%2017.44294%2C0%2032.21509%2C-6.05298%2044.31836%2C-18.15625%2012.45923%2C-12.45923%2018.68945%2C-27.23139%2018.68945%2C-44.31836%20v%20-233.8789%20c%200%2C-13.17121%20-3.9146%2C-25.09604%20-11.74609%2C-35.77539%20-7.47557%2C-11.035362%20-17.26588%2C-18.689208%20-29.36914%2C-22.960941%20-7.11956%2C-2.491854%20-14.23982%2C-3.738281%20-21.35938%2C-3.738281%20-19.22286%2C0%20-35.41865%2C7.476649%20-48.58984%2C22.427734%20l%20-63.40235%2C74.199218%20c%20-1.42391%2C1.06791%20-6.14093%2C9.23242%20-16.16015%2C9.23242%20-10.01923%2C0%20-14.20109%2C-8.16451%20-15.625%2C-9.23242%20L%20110.53125%2C99.013672%20C%2097.716024%2C84.062587%2081.697447%2C76.585938%2062.474609%2C76.585938%20Z%20m%20395.060551%2C0%20c%20-14.9511%2C-10e-7%20-27.76596%2C5.340179%20-38.44532%2C16.019531%20-10.32338%2C10.323381%20-15.48437%2C22.961011%20-15.48437%2C37.912111%200%2C14.9511%205.16099%2C27.76596%2015.48437%2C38.44531%2010.67936%2C10.32338%2023.49422%2C15.48633%2038.44532%2C15.48633%2014.95109%2C0%2027.76596%2C-5.16295%2038.44531%2C-15.48633%20C%20506.65982%2C158.28354%20512%2C145.46868%20512%2C130.51758%20512%2C115.56648%20506.65982%2C102.92885%20495.98047%2C92.605469%20485.30112%2C81.926117%20472.48625%2C76.585938%20457.53516%2C76.585938%20Z%20m%200.5332%2C118.541012%20c%20-14.9511%2C0%20-27.76596%2C5.34018%20-38.44531%2C16.01953%20-10.67936%2C10.67936%20-16.01758%2C23.49422%20-16.01758%2C38.44532%20v%20131.89062%20c%200%2C14.9511%205.33822%2C27.76596%2016.01758%2C38.44531%2010.67935%2C10.32339%2023.49421%2C15.48633%2038.44531%2C15.48633%2014.9511%2C0%2027.58873%2C-5.16294%2037.91211%2C-15.48633%20C%20506.65982%2C409.24838%20512%2C396.43352%20512%2C381.48242%20V%20249.5918%20c%200%2C-14.9511%20-5.34018%2C-27.76596%20-16.01953%2C-38.44532%20-10.32338%2C-10.67935%20-22.96101%2C-16.01953%20-37.91211%2C-16.01953%20z%22%20style%3D%22font-style%3Anormal%3Bfont-variant%3Anormal%3Bfont-weight%3Anormal%3Bfont-stretch%3Anormal%3Bfont-family%3A'OTADESIGN%20Rounded'%3B-inkscape-font-specification%3A'OTADESIGN%20Rounded'%3Bfill%3A%232aa2bc%3Bfill-opacity%3A1%3Bstroke-width%3A1.09609616px%22%20%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size:16px;
    background-repeat:no-repeat;
    background-position:top 50% left 8px;
    transition:all 0.5s;
    box-shadow:0 0 5px rgba(0,0,0,0.4);
    vertical-align: top;
}
.misskey:hover{
    background-color:lightgray;
}
/*.mstdn::before{
  content:"@";
}*/
.misskey > span{
    color:dimgray;
    font-size:12px;
    padding-left:3px;
}
.misskey > span:before{
    content:"@";
}

/* sc */
.sc{
    display:inline-block;
    background-color:whitesmoke;
    color:black;
    text-decoration:none;
    padding:3px 10px 3px 30px;
    border-radius:4px;
    border:solid 1px #b3b3b3;
    font-size:16px;
    background-image: url("../image/283.png");
    background-size:28px;
    background-repeat:no-repeat;
    background-position:top 50% left 1px;
    transition:all 0.5s;
    vertical-align: top;
}
.sc:hover{
    background-color:lightgray;
}

/* ===== INPUT ===== */
input[type=text],input[type=search]{
    background: rgba(255,255,255,0.5);
    border: none;
    padding: 7px 12px;
    margin: 10px 0;
    width: 350px;
    font-size: 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,0.6);
    transition: background-color 0.3s;
}

/* ===== CONTENT TYPE ===== */
.notification{
    text-align: center;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}


.half{
    width: 47.4%;
}
.trisection{
    width: 31%;
}